:root {
  --first-title-color: #ffffff;
  --second-tittle-color: #212121;
  --accent-color: #2196f3;
  --first-text-color: #757575;
  --adress-color: rgba(255, 255, 255, 0.6);
  --first-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --main-background-color: #e5e5e5;
  --team-background-color: #f5f4fa;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 80px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-tittle-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.contacts__list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
  display: flex;
  justify-content: baseline;
  margin-left: auto;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__list:hover, .contacts__list:focus {
  color: var(--accent-color);
}

.contacts__item {
  display: inline-block;
  align-items: baseline;
}

.contacts__item:not(:first-child) {
  margin-left: 50px;
}

.contacts__link {
  color: var(--first-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  margin-left: auto;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.contacts-icon {
  fill: currentColor;
  margin-right: 10px;
  width: 16px;
  height: 16px;
}

.hero {
  background-color: var(--hero-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
}

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  height: 120px;
  margin: auto;
  margin-bottom: 30px;
}

.advantages {
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: flex;
}

.advantages__item:not(:last-child) {
  margin-right: 30px;
  height: 251px;
}

.advantage__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-tittle-color);
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  width: 270px;
  height: 75px;
}

.we-doing {
  padding-bottom: 94px;
}

.we-doing__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  margin-bottom: 50px;
}

.we-doing__list {
  display: flex;
}

.we-doing__item:not(:last-child) {
  margin-right: 30px;
}

.we-doing__wraper {
  position: relative;
  width: 370px;
  height: 294px;
}

.we-doing__text {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  margin: 0;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  justify-content: center;
}

.team__item {
  background-color: #ffffff;
  margin-right: 30px;
  width: 270px;
  height: 428px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__item:last-child {
  margin-right: 0px;
}

.team__wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-wrapper__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  margin-bottom: 10px;
}

.team-wrapper__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  margin-bottom: 16px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-tittle-color);
  padding-top: 94px;
  padding-bottom: 50px;
}

.clients__list {
  padding-bottom: 94px;
  display: flex;
}

.clients__item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.clients__item:last-child {
  margin-right: 0px;
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 32px;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: #2196f3;
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-bottom: 20px;
  width: 135px;
}

.footer-second-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--first-background-color);
}

.footer-adress {
  width: 231px;
}

.footer-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--first-background-color);
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0px;
}

.footer-mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--adress-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel:hover, .footer-tel:focus {
  color: var(--accent-color);
}

.footer-base {
  display: flex;
}

.subsribe {
  margin-top: 12px;
  margin-left: 70px;
  width: 206px;
}

.footer-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #2196f3;
}

.footer-social-link:hover .footer-social-icon,
.footer-social-link:focus .footer-social-icon {
  fill: #ffffff;
}

.footer-social-icon {
  fill: #ffffff;
}

.submit {
  margin-top: 12px;
  margin-left: 92px;
  width: 570px;
}

.submit-email {
  display: flex;
  justify-content: center;
}

.email-input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.email-input::placeholder {
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: 0px;
  margin-left: 12px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-btn:hover, .submit-btn:focus {
  transform: scale(1.05);
}

.submit-icon {
  margin-left: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  width: 615px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
}

.main-item-btn:not(:last-child) {
  margin-right: 9px;
}

.main-btn {
  border: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, .main-btn:focus {
  color: var(--first-background-color);
  background-color: var(--accent-color);
}

.main-btn:active {
  border: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.main-projeckt-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projeckt-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projeckt-item:hover .projeckt-wraper-text {
  transform: translateY(0%);
}

.projeckt-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projeckt-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.projeckt-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projeckt-wraper {
  position: relative;
  overflow: hidden;
}

.projeckt-wraper-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-style: roboto;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projeckt-item-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.projeck-link {
  text-decoration: none;
}

.projeckt-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-tittle-color);
  margin-bottom: 4px;
}

.projeckt-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: #2196f3;
}

.modal-form {
  width: 100%;
  height: 342px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: block;
  text-align: start;
  color: #757575;
  margin-bottom: 10px;
  margin-top: 0;
}

.modal-label.form-label {
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  padding-right: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: -webkit-focus-ring-color auto 0px;
  border-color: var(--accent-color);
}

.modal-input:focus + .icon-form {
  fill: var(--accent-color);
}

.block-icon-input {
  position: relative;
}

.icon-form {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  transition: border-color 250ms var(--accent-color);
}

.modal-comment:focus {
  outline: -webkit-focus-ring-color auto 0px;
  border-color: var(--accent-color);
}

.modal-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.label-contract {
  display: block;
  margin-left: 15px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-contract {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox-contract:checked + .icon-contract {
  background-color: var(--accent-color);
  border-color: #2196f3;
}

.icon-contract {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  margin-bottom: -2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-contract {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.modal-btn {
  margin: auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: 0px;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: 0px;
  margin: auto;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover, .btn:focus {
  transform: scale(1.2);
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
}

.social__item + .social-list__item {
  margin-left: 10px;
}

.social__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #ffffff;
}

.social__icon {
  fill: #afb1b8;
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 10px;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  margin-right: 93px;
}

.logo__second {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__footer {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */