body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-style: normal;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* -------------------------------------------стилизация хедера------------------------------------- */

/* ---------------------------------------------стилизация героя----------------------------------- */

/* --------------------------------------------секция преимуществ----------------------------------------- */

/* --------------------------------------------секция we  doing ------------------------------------------------*/

/* ---------------------------------------------секция команда------------------------------------------------------ */

/* ---------------------------------------------постоянные клиенты------------------------------------- */

/* -------------------------------------------стилизация футера---------------------------------------- */

/* ------------------------------------------модалка--------------------------------------------------- */

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  left: 0;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  fill: #2196f3;
}

.modal-form {
  width: 100%;
  height: 342px;
}

.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  display: block;
  text-align: start;

  color: #757575;

  margin-bottom: 10px;
  margin-top: 0;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  padding-right: 10px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  outline: -webkit-focus-ring-color auto 0px;
  border-color: var(--accent-color);
}

.block-icon-input {
  position: relative;
}

.icon-form {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(-);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .icon-form {
  fill: var(--accent-color);
}

.modal-label.form-label {
  margin-bottom: 4px;
}

.modal-comment {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  transition: border-color 250ms var(--accent-color);
}
.modal-comment:focus {
  outline: -webkit-focus-ring-color auto 0px;
  border-color: var(--accent-color);
}
.modal-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.label-contract {
  display: block;
  margin-left: 15px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-contract {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.icon-contract {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 4px;
  margin-right: 7px;
  margin-bottom: -2px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-contract:checked + .icon-contract {
  background-color: var(--accent-color);
  border-color: #2196f3;
}

.link-contract {
  text-decoration-line: underline;

  color: var(--accent-color);
}

.modal-btn {
  margin: auto;
}

/* ------------------------------------оформление страницы портфолио------------------------------- */

.main {
  background-color: #ffffff;
  padding-top: 94px;
  padding-bottom: 94px;
}

.main-btn:hover,
.main-btn:focus {
  color: var(--first-background-color);
  background-color: var(--accent-color);
}

/* --------------------------------оформление фильтров-------------------------- */

.main-list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
  width: 615px;
  height: 64px;
  margin-left: auto;
  margin-right: auto;
}

.main-item-btn:not(:last-child) {
  margin-right: 9px;
}

.main-btn {
  border: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px 6px 22px;
  white-space: nowrap;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:active {
  border: 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.main-projeckt-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projeckt-item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  overflow: hidden;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projeckt-wraper {
  position: relative;
  overflow: hidden;
}

.projeckt-wraper-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-style: roboto;
  font-size: 18px;
  line-height: 1.56;
  padding: 63px 24px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projeckt-item:hover .projeckt-wraper-text {
  transform: translateY(0%);
}

.projeckt-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projeckt-item:nth-child(3n + 3) {
  margin-right: 0px;
}

.projeckt-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projeckt-item-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.projeck-link {
  text-decoration: none;
}

.projeckt-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-tittle-color);
  margin-bottom: 4px;
}

.projeckt-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}
