.advantages {
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__list {
  display: flex;
}

.advantages__list-item:not(:last-child) {
  margin-right: 30px;
  height: 251px;
}

.advantage__icon-bgi {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advantages__item-icon {
  width: 70px;
  height: 70px;
}

.item__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-tittle-color);
  margin-bottom: 10px;
}

.item__text {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
  width: 270px;
  height: 75px;
}
