:root {
  --first-title-color: #ffffff;
  --second-tittle-color: #212121;
  --accent-color: #2196f3;
  --first-text-color: #757575;
  --adress-color: rgba(255, 255, 255, 0.6);
  --first-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --main-background-color: #e5e5e5;
  --team-background-color: #f5f4fa;
}
